.header {
  @apply w-full bg-[#303030] py-4 shadow-md;

  &__link {
    @apply text-uoc-corporate font-medium no-underline transition-colors duration-200 hover:text-white;
  }

  &__toggle-icon {
    @apply block h-[3px] w-full bg-gray-400 rounded-sm transition-all duration-300;
  }
}


.header__menu.open {
  @apply flex flex-col absolute top-full right-4 bg-white p-4 rounded-lg shadow-xl z-[1000] gap-4;


  .header__link {
    @apply text-gray-800;
  }
}
