.speaker-card {
  @apply bg-[#2a2a2a] p-6 rounded-xl shadow-lg;

  &__photo {
    @apply w-full h-[35vh] overflow-hidden rounded-lg mb-4 bg-gray-700;
  }

  &__image {
    @apply w-full h-full object-cover;
  }

  &__name {
    @apply text-uoc-corporate text-xl font-bold mb-2;
  
  }

  &__description {
    @apply text-white text-sm leading-relaxed;
  }
}