<footer class="uoc-footer">
  <div class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center gap-6">

    <div class="flex items-center order-1">
      <i class="fas fa-utensils mr-2 text-white"></i>
      <p class="m-0 text-sm text-white">&copy; 2026 Jornadas Cocina Tradicional</p>
    </div>

    <nav class="order-2">
      <ul class="list-none m-0 p-0 flex flex-col md:flex-row items-center gap-4">
        <li><a href="index.html" class="uoc-footer__link">Home</a></li>
        <li><a href="speakers.html" class="uoc-footer__link">Speakers</a></li>
        <li><a href="contestants.html" class="uoc-footer__link">Contestants</a></li>
        <li><a href="index.html" class="uoc-footer__link">Info</a></li>
      </ul>
    </nav>

    <div class="order-3">
      <a href="https://twitter.com" class="uoc-footer__link" target="_blank" aria-label="Twitter">
        <i class="fab fa-twitter text-lg"></i>
      </a>
    </div>

  </div>
</footer>