<header class="header">
  <nav class="container mx-auto px-4 flex justify-between items-center relative">
    
    <a href="index.html" class="text-white text-2xl">
      <i class="fas fa-utensils"></i>
    </a>

    <button class="header__toggle flex md:hidden flex-col justify-between w-[30px] h-[22px]" type="button">
      <span class="header__toggle-icon"></span>
      <span class="header__toggle-icon"></span>
      <span class="header__toggle-icon"></span>
    </button>

    <ul class="header__menu hidden md:flex list-none m-0 p-0 gap-6">
      <li><a href="index.html" class="header__link">Home</a></li>
      <li><a href="speakers.html" class="header__link">Speakers</a></li>
      <li><a href="contestants.html" class="header__link">Contestants</a></li>
      <li><a href="index.html" class="header__link">Info</a></li>
    </ul>

  </nav>
</header>