/**
 * Import any npm dependencies in this file
 * see commented examples below
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "some-node-module";
// @import "@some-company/some-node-module";
